/* variables */

:root {
  --custom-color: black;
  --custom-font-family: Helvetica, Arial, sans-serif;
}

/* main body part */

body {

  background-image: url("https://store.playstation.com/store/api/chihiro/00_09_000/container/NL/nl/999/ET0001-NPEB00130_00-AVDISRUPTI000414/1550738839000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000");
  background-repeat: repeat-x;
  background-size: 100px;

  background-color: white;
  margin: 16px 20px 16px 20px;
}

/* general styling */

nav, p, pre, section, div {
  font-family: var(--custom-font-family);
}

/* navigation bar styling */

.nav {
  margin-top: 130px;
  margin-bottom: 20px;
}

.navlink {
  margin-left: 20px;
}

.navlink:hover {
  color: red;
}

.navlink:active {
  color: yellow;
}

/* header part with titles styling */

#title {
  margin-top: 40px;
  margin-right: 10px;
  text-align: center;

  color: var(--custom-color);
  font-size: 40px;
  background: white;
  vertical-align: middle;
}

#header {
  padding: 15px;

  border-radius: 10px;
  border-style: dashed;
  border-color: black;
  border-width: 6px;
}

#subtitle {
  text-align: center;
  font-size: 25px;
  color: var(--custom-color);
}


/* first section */

#par1 {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
}

#img0 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

#fig1cap {
  text-decoration: overline;
  font: normal normal normal 12px/30px Helvetica, Arial, sans-serif;
}

.newlink:visited {
  color: orange;
}

.newlink:link {
  color: blue;
}

/* lists section */

#striped {
  text-decoration: underline;
}

ul {
  list-style-image:url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-16.png');

  background-size: 10px;
}

ol {
  list-style-type: upper-roman;
  list-style-position: inside;
  list-style: upper-roman inside;
}

/* first table section */

caption {
  font-size: 20px;
}

th {
  text-align: left;
}

table {
  orphans: 3;
  widows: 4;
  margin-top: 50px;
  text-align: center;
  caption-side: top;
  border-spacing: 1px;
}

table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: auto
}

#img1{
  width: 100px;
  height: 100px;
}

#img2 {
  width: 100px;
  height: 100px;
}

#img3 {
  width: 100px;
  height: 100px;
}

.defaultImg {
  height: 100px;
}

.input:focus {
  background-color: coral;
}

.input {
  background-color: rgb(211, 242, 242);
}

/* responsive design */

.col {
  float: left;
  width: 50%;
}

.row {
  margin-top: 30px;
  width: 100vw;
  overflow-x: auto;
}

/* second table */

#table2 {
  border: solid grey;
}


/* last section */

dd {
  text-indent: 1em;
}

#capitalized {
  text-transform: uppercase;
}


/* footer */

#disclaimer {
  float: right;
  margin-top: 100px;
}

/* mobile styling */

@media only screen and (max-width: 600px){
  .col{
    width:100%
  }

  .gone {
    display: none;
  }

  table {
    margin: 20px;
  }

  td, th, tr {
    margin: 20px;
    padding: 20px;
  }

  input {
    display: none;
  }

  #disclaimer {
    float: none;
  }


}
