
body {

  background-image: url("https://store.playstation.com/store/api/chihiro/00_09_000/container/NL/nl/999/ET0001-NPEB00130_00-AVDISRUPTI000414/1550738839000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000");
  background-repeat: repeat-x;
  background-size: 100px;

  background-color: white;
  margin: 16px 20px 16px 20px;
}

.nav {
  margin-top: 130px;
  margin-bottom: 20px;
}

.navlink {
  margin-left: 20px;
}

.navlink:hover {
  color: red;
}

.navlink:active {
  color: yellow;
}

.newlink:visited {
  color: orange;
}

.newlink:link {
  color: blue;
}

#title {
  margin-top: 40px;
  margin-right: 10px;
  text-align: center;

  color: black;
  font-size: 40px;
  background: white;
  vertical-align: middle;
}

#header {
  padding: 15px;

  border-radius: 10px;
  border-style: dashed;
  border-color: black;
  border-width: 6px;
}

#subtitle {
  text-align: center;
  font-size: 25px;
  color: black;
}

.par1 {
  font-family: verdana, Times, serif;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
}

#fig1cap {
  text-decoration: overline;
  font: normal normal normal 12px/30px Georgia, sans-serif;
}

#striped {
  text-decoration: underline;
}

#capitalized {
  text-transform: uppercase;
}

caption {
  font-size: 20px;
}

th {
  text-align: left;
}

table {
  orphans: 3;
  widows: 4;
  margin-top: 50px;
  text-align: center;
  caption-side: top;
  border-spacing: 1px;
}

table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: auto
}

#img0 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

#img1{
  width: 100px;
  height: 100px;
}

#img2 {
  width: 100px;
  height: 100px;
}

#img3 {
  width: 100px;
  height: 100px;
}

.input:focus {
  background-color: coral;
}

.input {
  background-color: rgb(211, 242, 242);
}

ul {
  list-style-image:url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-16.png');

  background-size: 10px;
}

.col {
  float: left;
  width: 50%;
}

.row {
  margin-top: 30px;
  width: 100%;
  overflow-x: auto;
}

#disclaimer {
  float: right;
}

#table2 {
  border: solid grey;
}

dd {
  text-indent: 1em;
}

ol {
  list-style-type: upper-roman;
  list-style-position: inside;
  list-style: upper-roman inside;
}

@media only screen and (max-width:768px){
  .col{
    width:100%
  }
}

/* @media screen and (max-width: 600px) {
   .col {
     width: 100%;
   }
} */
